In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math as math
import os

exec(open("../header.py").read())

Header initialized

In [2]:
raw_train_data = pd.read_csv(processed_root("04-bow-added-features/feat_train_data-30.csv"))
raw_val_data = pd.read_csv(processed_root("04-bow-added-features/feat_val_data-30.csv"))
raw_test_data = pd.read_csv(processed_root("04-bow-added-features/feat_test_data-30.csv"))

In [3]:
raw_train_data.columns

Index(['Unnamed: 0', 'poetry_text', 'wind\nand', 'quaint', 'sympathi', 'meet',
       'life\nand', 'high', 'among', 'steep',
       ...
       'midway', 'optic', 'charl', 'incess', 'outrag', 'poetry_author',
       'ave_word_len', 'ave_line_len', 'num_syllables', 'num_rhymes'],
      dtype='object', length=4197)

In [9]:
X_train = raw_train_data[['ave_word_len','ave_line_len','num_syllables','num_rhymes']]
X_val = raw_val_data[['ave_word_len','ave_line_len','num_syllables','num_rhymes']]
y_train = raw_train_data['poetry_author']
y_val = raw_val_data['poetry_author']

In [8]:
X_val

     ave_word_len  ave_line_len  num_syllables  num_rhymes
0        4.211429      3.181818       4.709091           0
1        4.407563      3.216216       4.243243           0
2        5.000000      3.000000       5.333333           0
3        4.644860      3.821429       5.535714           0
4        4.029762      3.294118       4.941176           0
..            ...           ...            ...         ...
308      4.581633      3.972973       6.094595           0
309      4.107692      3.823529       5.176471           0
310      4.531469      3.250000       5.113636           5
311      4.354839      3.444444       5.055556           0
312      4.400000      5.000000       6.666667           2

[313 rows x 4 columns]

In [10]:
from sklearn.naive_bayes import MultinomialNB

In [11]:
nb = MultinomialNB()

In [12]:
y_pred = nb.fit(X_train, y_train)

In [13]:
# Training
y_pred_train = nb.predict(X_train)
train_accuracy = np.mean(y_pred_train == y_train) * 100
print("Training Accuracy: %.2f%%"%(train_accuracy))

# Validation
y_pred_val = nb.predict(X_val)
val_accuracy = np.mean(y_pred_val == y_val) * 100
print("Validation Accuracy: %.2f%%"%(val_accuracy))

Training Accuracy: 9.97%
Validation Accuracy: 9.58%