In [59]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math as math
import os

exec(open("../header.py").read())

Header initialized

In [107]:
raw_train_data_0 = pd.read_csv(processed_root("03-bag-of-words/threshold-50/bow_train_data.csv"))
raw_val_data_0 = pd.read_csv(processed_root("03-bag-of-words/threshold-50/bow_val_data.csv"))
raw_test_data_0 = pd.read_csv(processed_root("03-bag-of-words/threshold-50/bow_test_data.csv"))

In [114]:
raw_train_data = pd.read_csv(processed_root("04-bow-added-features/feat_train_data.csv"))
raw_val_data = pd.read_csv(processed_root("04-bow-added-features/feat_val_data.csv"))
raw_test_data = pd.read_csv(processed_root("04-bow-added-features/feat_test_data.csv"))

In [115]:
raw_train_data_0.columns

Index(['poetry_text', 'meet', 'high', 'among', 'splendour', 'wood', 'like',
       'grow', 'etern', 'hous',
       ...
       'anyth', 'buri', 'caus', 'seal', 'bless', 'loss', 'yon', 'bad', 'flow',
       'poetry_author'],
      dtype='object', length=944)

In [156]:
raw_train_data.columns

Index(['Unnamed: 0', 'poetry_text', 'meet', 'high', 'among', 'splendour',
       'wood', 'like', 'grow', 'etern',
       ...
       'bless', 'loss', 'yon', 'bad', 'flow', 'poetry_author', 'ave_word_len',
       'ave_line_len', 'num_syllables', 'num_rhymes'],
      dtype='object', length=949)

In [157]:
raw_train_data['poem_id']

KeyError: 'poem_id'

In [117]:
print(len(raw_train_data_0.columns.values), len(raw_train_data.columns.values))

944 949

In [118]:
raw_train_data['num_syllables']

0      7.447619
1      4.750000
2      3.636364
3      5.222222
4      2.571429
         ...
236    5.852941
237    3.955556
238    2.411765
239    6.928571
240    4.615385
Name: num_syllables, Length: 241, dtype: float64

In [120]:
raw_train_data['num_rhymes']

0      0
1      0
2      0
3      0
4      0
      ..
236    7
237    0
238    0
239    2
240    0
Name: num_rhymes, Length: 241, dtype: int64

In [121]:
raw_train_data_0

,poetry_text,meet,high,among,splendour,wood,like,grow,etern,hous,...,anyth,buri,caus,seal,bless,loss,yon,bad,flow,poetry_author
0,—was this\nthat one fairest river lovd\nto ble...,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,William Wordsworth
1,light low upon earth\nyou send flash sun\nher ...,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"Alfred, Lord Tennyson"
2,from\nromeo juliet spoken juliet\no romeo rome...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,William Shakespeare
3,glass street tinsel peril\ntre travel stood\nf...,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Emily Dickinson
4,like best\nabout ourselves\n\nour inability\nt...,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Rae Armantrout
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,risest thou thus dim dawn again\nand howlest i...,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"Alfred, Lord Tennyson"
237,mean near\nor nearly\n\na book something\n\nor...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Rae Armantrout
238,suffer allow\n\nlist want\n\nlistless transcen...,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Rae Armantrout
239,earth anyth show fair\ndul would soul could pa...,0,0,0,1,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,William Wordsworth
240,blith newcom heard\ni hear thee rejoice\no cuc...,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,William Wordsworth

In [122]:
raw_train_data

,Unnamed: 0,poetry_text,meet,high,among,splendour,wood,like,grow,etern,...,bless,loss,yon,bad,flow,poetry_author,ave_word_len,ave_line_len,num_syllables,num_rhymes
0,0,—was this\nthat one fairest river lovd\nto ble...,1,1,1,1,1,1,1,1,...,0,0,0,0,0,William Wordsworth,4.903260,4.528571,7.447619,0
1,1,light low upon earth\nyou send flash sun\nher ...,0,0,0,0,1,0,0,0,...,0,0,0,0,0,"Alfred, Lord Tennyson",4.204819,3.458333,4.750000,0
2,2,from\nromeo juliet spoken juliet\no romeo rome...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,William Shakespeare,4.539474,2.303030,3.636364,0
3,3,glass street tinsel peril\ntre travel stood\nf...,0,0,0,0,0,1,0,0,...,0,0,0,0,0,Emily Dickinson,5.000000,3.222222,5.222222,0
4,4,like best\nabout ourselves\n\nour inability\nt...,0,0,0,0,0,1,0,0,...,0,0,0,0,0,Rae Armantrout,4.428571,1.500000,2.571429,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,236,risest thou thus dim dawn again\nand howlest i...,0,0,0,1,0,0,0,0,...,0,0,0,0,0,"Alfred, Lord Tennyson",4.702899,4.058824,5.852941,7
237,237,mean near\nor nearly\n\na book something\n\nor...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,Rae Armantrout,5.161616,2.200000,3.955556,0
238,238,suffer allow\n\nlist want\n\nlistless transcen...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,Rae Armantrout,4.875000,1.411765,2.411765,0
239,239,earth anyth show fair\ndul would soul could pa...,0,0,0,1,0,1,0,0,...,0,0,0,0,0,William Wordsworth,4.408451,5.071429,6.928571,2
240,240,blith newcom heard\ni hear thee rejoice\no cuc...,0,0,0,0,1,0,0,0,...,0,0,0,0,0,William Wordsworth,4.416000,3.205128,4.615385,0

### Import

In [123]:
list(set(raw_train_data['poetry_author'].values))

['Emily Dickinson',
 'Rae Armantrout',
 'William Wordsworth',
 'Alfred, Lord Tennyson',
 'William Shakespeare']

In [146]:
X_train = raw_train_data\
    .drop(['poetry_text', 'poetry_author', 'num_syllables', 'num_rhymes', 'ave_word_len', 'ave_line_len', 'Unnamed: 0'], axis = 1)
X_val = raw_val_data\
    .drop(['poetry_text', 'poetry_author', 'num_syllables', 'num_rhymes', 'ave_word_len', 'ave_line_len', 'Unnamed: 0'], axis = 1)
y_train = raw_train_data['poetry_author']
y_val = raw_val_data['poetry_author']

In [151]:
X_train = raw_train_data\
    .drop(['poetry_text', 'poetry_author', 'Unnamed: 0'], axis = 1)
X_val = raw_val_data\
    .drop(['poetry_text', 'poetry_author', 'Unnamed: 0'], axis = 1)
y_train = raw_train_data['poetry_author']
y_val = raw_val_data['poetry_author']

### Model

In [152]:
from sklearn.naive_bayes import MultinomialNB

In [153]:
nb = MultinomialNB()

### Train

In [154]:
y_pred = nb.fit(X_train, y_train)

### Evaluate

In [155]:
# Training
y_pred_train = nb.predict(X_train)
train_accuracy = np.mean(y_pred_train == y_train) * 100
print("Training Accuracy: %.2f%%"%(train_accuracy))

# Validation
y_pred_val = nb.predict(X_val)
val_accuracy = np.mean(y_pred_val == y_val) * 100
print("Validation Accuracy: %.2f%%"%(val_accuracy))

Training Accuracy: 87.14%
Validation Accuracy: 73.91%

In [129]:
X_train = raw_train_data_0\
    .drop(['poetry_text', 'poetry_author'], axis = 1)
X_val = raw_val_data_0\
    .drop(['poetry_text', 'poetry_author'], axis = 1)
y_train = raw_train_data_0['poetry_author']
y_val = raw_val_data_0['poetry_author']

In [130]:
nb = MultinomialNB()

In [131]:
y_pred = nb.fit(X_train, y_train)

In [132]:
# Training
y_pred_train = nb.predict(X_train)
train_accuracy = np.mean(y_pred_train == y_train) * 100
print("Training Accuracy: %.2f%%"%(train_accuracy))

# Validation
y_pred_val = nb.predict(X_val)
val_accuracy = np.mean(y_pred_val == y_val) * 100
print("Validation Accuracy: %.2f%%"%(val_accuracy))

Training Accuracy: 97.10%
Validation Accuracy: 72.46%